<!-- <div class="BG text_style " style="width: 100%">
  <div style="padding: 300px 200px">
    <h2><b>Zenbo Library Service</b></h2>
    <div style="padding: 50px 150px">
      <h2><b>Let's explore Library with Zenbo!</b></h2>
    </div>
  </div>
</div> -->
<div class="paragraph"><strong><font color="#248d6c" size="5">本校校址</font></strong><br><font size="4">•41349 台中市霧峰區吉峰東路168號<br>•168, Jifeng E. Rd., Wufeng District, Taichung, 41349 Taiwan, R.O.C.</font><br><br><strong><font color="#248d6c" size="5">本校電話</font></strong><br><font size="4">•總機：+ 886-4-23323000</font><br><font size="4">•傳真：+ 886-4-23329898</font><br><font size="4">•校安中心及學生緊急事故通報專線：+886-4-23320808</font><br><br><strong><font color="#248d6c" size="5">網頁任何建議與改善</font></strong><br><font size="4">​</font><span style="color:rgb(63, 63, 63)">•</span><font size="4">請寫信至zenbo10530041@gmail.com</font><br><br></div>
