<!-- <div class="BG text_style " style="width: 100%">
  <div style="padding: 300px 200px">
    <h2><b>Zenbo Library Service</b></h2>
    <div style="padding: 50px 150px">
      <h2><b>Let's explore Library with Zenbo!</b></h2>
    </div>
  </div>
</div> -->
<div class="container">
<div class="banner">
  <div class="wsite-section-elements">
    <br>
    <h2 class="wsite-content-title" style="text-align:center;"><span
      style="color:rgb(14, 140, 127); font-weight:700">波錠紀念圖書館時間</span></h2>

    <div class="wsite-spacer" style="height:70px;"></div>

    <div>
      <div class="wsite-multicol">
        <div class="wsite-multicol-table-wrap" style="margin:0 -45px;">
          <table class="wsite-multicol-table">
            <tbody class="wsite-multicol-tbody">
              <tr class="wsite-multicol-tr">
                <td class="wsite-multicol-col" style="width:33.156028368794%; padding:0 45px;">
                  <div class="paragraph" style="text-align:left;">
                    <font color="#2a2a2a"><strong>圖書館<br><br>​</strong>平&nbsp; &nbsp; 日<span
                        style="color:rgb(53, 54, 54)">&nbsp;/ </span></font><span
                      style="color:rgb(0, 0, 0)">08：30～22：00</span><br>
                    <font color="#2a2a2a"><span style="color:rgb(53, 54, 54)">星期六 / </span></font><span
                      style="color:rgb(0, 0, 0)">08：30～17：00<br>星期日 /&nbsp;14：00～20：00</span>
                  </div>
                </td>
                <td class="wsite-multicol-col" style="width:35.195035460993%; padding:0 45px;">
                  <div class="paragraph" style="text-align:left;">
                    <font color="#2a2a2a"><strong>5樓多媒體區</strong></font><br><br><span
                      style="color:rgb(53, 54, 54)"></span>
                    <font color="#2a2a2a">平&nbsp; &nbsp; 日<span style="color:rgb(53, 54, 54)">&nbsp;/ 0</span></font>
                    <span style="color:rgb(0, 0, 0)">8 : 30～20 : 00</span><br>
                    <font color="#2a2a2a"><span style="color:rgb(53, 54, 54)">星期六 / 0</span></font><span
                      style="color:rgb(0, 0, 0)">8 : 30～15 : 00<br>星期日 /&nbsp;14 : 00～18 : 00</span><span
                      style="color:rgb(53, 54, 54)"></span>
                  </div>
                </td>
                <td class="wsite-multicol-col" style="width:31.648936170213%; padding:0 45px;">
                  <div class="paragraph" style="text-align:left;">
                    <font color="#2a2a2a"><strong>閱覽室</strong></font><br><br><span style="color:rgb(0, 0, 0)">平&nbsp; &nbsp;
                      日 / 08：00～23：00<br>星期六 / 不開放<br>星期日 / 08：00～15：00</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>
<div class="container">
  <div class="wsite-section-elements">
    <h2 class="wsite-content-title" style="text-align:center;"><span
        style="color:rgb(14, 140, 127); font-weight:700">波錠紀念圖書館地點</span></h2>

    <div class="wsite-map"><iframe allowtransparency="true" frameborder="0" scrolling="no"
        style="width: 100%; height: 250px; margin-top: 10px; margin-bottom: 10px;"
        src="//www.weebly.com/weebly/apps/generateMap.php?map=google&amp;elementid=174009508998693037&amp;ineditor=0&amp;control=3&amp;width=auto&amp;height=250px&amp;overviewmap=0&amp;scalecontrol=1&amp;typecontrol=0&amp;zoom=14&amp;long=120.71350430000007&amp;lat=24.0691428&amp;domain=www&amp;point=1&amp;align=2&amp;reseller=false"></iframe>
    </div>

    <h2 class="wsite-content-title" style="text-align:center;"><br><span
        style="color:rgb(14, 140, 127); font-weight:700">​波錠紀念圖書館抵達方式</span></h2>

    <div class="paragraph"><strong>
        <font color="#248d6c" size="5">公車抵達方式:</font>
      </strong><br>
      <font size="4"><strong>‧</strong>自桃園國際機場入境，可搭國光客運、統聯客運等任何往台中之客運至台中火車站下，轉搭台中客運131路、132路或全航客運158路至本校。<br><span
          style="color:rgb(63, 63, 63)">‧</span><span
          style="color:rgb(63, 63, 63)">自桃園國際機場入境，可搭台灣高鐵至高鐵台中站下車，轉搭台中客運133路</span><span
          style="color:rgb(63, 63, 63)">或全航客運158路或統聯客運 151路至本校。</span><br><span
          style="color:rgb(63, 63, 63)">‧搭乘台中客運201路、107路、108路及統聯客運50路、53路至霧峰分局(吉峰路口)，轉搭台中客運132路及統聯客運151路至本校(約2.5公里)。</span>
      </font><br><br><strong>
        <font color="#248d6c" size="5">計程車抵達方式:</font>
      </strong><br>
      <font size="4">‧搭計程車從台中火車站到本校約20分鐘。</font><br><br><strong>
        <font color="#248d6c" size="5">​自行開車抵達方式:</font>
      </strong><br>
      <font size="4">‧開車經國道1號&nbsp;&nbsp;於191公里處彰化系統交流道，接國道3號&nbsp;&nbsp;往南至211公里處霧峰交流道下，約8分鐘可達本校。<br>‧開車經國道3號&nbsp;
        於211公里處霧峰交流道下，約8分鐘可達本校。</font><br>&nbsp;<br><br>
    </div>



  </div>
</div>
<div class="wsite-section-wrap">
    <div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-9"
      style="background-color: #F8F8F8;background-image: none;is_customized: 1;">
      <div class="wsite-section-content">
        <div class="container">
          <div class="wsite-section-elements">
            <div>
              <div style="height: 20px; overflow: hidden;"></div>
              <div id="777143170299731314-gallery" class="imageGallery"
                style="line-height: 0px; padding: 0; margin: 0">
                <div id="777143170299731314-imageContainer0" style="float:left;width:49.95%;margin:0;"
                  class="fullwidth-mobile">
                  <div id="777143170299731314-insideImageContainer0" style="position:relative;margin:5px;">
                    <div class="galleryImageHolder"
                      style="position:relative; width:100%; padding:0 0 75%;overflow:hidden;">
                      <div class="galleryInnerImageHolder"><a
                          href="../assets/image/公車1.jpg"
                          rel="lightbox[gallery777143170299731314]" class="w-fancybox"><img
                            src="../assets/image/公車1.jpg" class="galleryImage"
                            _width="800" _height="532"
                            style="position:absolute;border:0;width:112.78%;top:0%;left:-6.39%"></a></div>
                    </div>
                  </div>
                </div>
                <div id="777143170299731314-imageContainer1" style="float:left;width:49.95%;margin:0;"
                  class="fullwidth-mobile">
                  <div id="777143170299731314-insideImageContainer1" style="position:relative;margin:5px;">
                    <div class="galleryImageHolder"
                      style="position:relative; width:100%; padding:0 0 75%;overflow:hidden;">
                      <div class="galleryInnerImageHolder"><a
                          href="../assets/image/公車2.jpg"
                          rel="lightbox[gallery777143170299731314]" class="w-fancybox"><img
                            src="../assets/image/公車2.jpg" class="galleryImage"
                            _width="800" _height="532"
                            style="position:absolute;border:0;width:112.78%;top:0%;left:-6.39%"></a></div>
                    </div>
                  </div>
                </div><span style="display: block; clear: both; height: 0px; overflow: hidden;"></span>
              </div>

              <div style="height: 20px; overflow: hidden;"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
