<!-- <div class="BG text_style " style="width: 100%">
  <div style="padding: 300px 200px">
    <h2><b>Zenbo Library Service</b></h2>
    <div style="padding: 50px 150px">
      <h2><b>Let's explore Library with Zenbo!</b></h2>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="wsite-section-elements">
    <h2 class="wsite-content-title" style="text-align:center;"><strong>
        <font color="#248d6c" size="7">沿革與大事記</font>
      </strong></h2>

    <div class="paragraph" style="text-align:left;">
      <ul style="color:rgb(85, 85, 85)">
        <li><a href="http://www.lib.cyut.edu.tw/newweb/into/history/history.asp">
            <font size="5">沿革</font>
          </a></li>
        <li><a href="http://www.lib.cyut.edu.tw/newweb/into/history/history_list.asp">
            <font size="5">大事紀</font>
          </a></li>
        <li><a href="http://www.lib.cyut.edu.tw/newweb/into/history/director.asp">
            <font size="5">歷任館長 / 圖資長、副館長</font>
          </a></li>
        <li><a href="http://www.lib.cyut.edu.tw/newweb/into/history/namelogo.asp">
            <font size="5">館名及LOGO</font>
          </a></li>
        <li><a href="http://www.lib.cyut.edu.tw/newweb/into/history/mascot.asp">
            <font size="5">吉祥娃娃</font>
          </a></li>
        <li><a href="http://www.lib.cyut.edu.tw/newweb/into/publish/index.asp">
            <font size="5">本館出版品</font>
          </a></li>
        <li><a href="http://www.lib.cyut.edu.tw/newweb/into/history/givelist.asp">
            <font size="5">贈書芳名錄</font>
          </a></li>
      </ul>
    </div>

    <div>
      <div class="wsite-multicol">
        <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
          <table class="wsite-multicol-table">
            <tbody class="wsite-multicol-tbody">
              <tr class="wsite-multicol-tr">
                <td class="wsite-multicol-col" style="width:96.324786324786%; padding:0 15px;">
                  <div>
                    <div style="height: 20px; overflow: hidden; width: 100%;"></div>
                    <hr class="styled-hr" style="width:100%;">
                    <div style="height: 20px; overflow: hidden; width: 100%;"></div>
                  </div>

                  <h2 class="wsite-content-title" style="text-align:center;"><strong>
                      <font color="#248d6c" size="7" style="margin-left: 330px;">館名(波錠紀念圖書館)</font>
                    </strong></h2>
                </td>
                <td class="wsite-multicol-col" style="width:3.6752136752137%; padding:0 15px;">
                  <div class="wsite-spacer" style="height:65px;"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="paragraph">
      <font size="5"><span style="color:rgb(63, 63, 63)">•&nbsp;</span><strong><a
            href="http://www.pmlis.cyut.edu.tw/lib/logoname.php" target="_blank">館名由來</a></strong></font>
    </div>

    <div>
      <div style="height: 20px; overflow: hidden; width: 100%;"></div>
      <hr class="styled-hr" style="width:100%;">
      <div style="height: 20px; overflow: hidden; width: 100%;"></div>
    </div>

    <h2 class="wsite-content-title" style="text-align:center;"><strong>
        <font color="#248d6c" size="7">​圖書館各項規則</font>
      </strong></h2>

    <div class="paragraph">
      <font size="5"><span style="color:rgb(63, 63, 63)">•&nbsp;</span><strong><a
            href="http://www.pmlis.cyut.edu.tw/statistics.php" target="_blank">圖資處規則</a></strong></font>
    </div>

    <div class="wsite-section-wrap">
      <div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-9"
        style="background-color: #F8F8F8;background-image: none;is_customized: 1;">
        <div class="wsite-section-content">
          <div class="container">
            <div class="wsite-section-elements">
              <div>
                <div style="height: 20px; overflow: hidden;"></div>
                <div id="777143170299731314-gallery" class="imageGallery"
                  style="line-height: 0px; padding: 0; margin: 0">
                  <div id="777143170299731314-imageContainer0" style="float:left;width:49.95%;margin:0;"
                    class="fullwidth-mobile">
                    <div id="777143170299731314-insideImageContainer0" style="position:relative;margin:5px;">
                      <div class="galleryImageHolder"
                        style="position:relative; width:100%; padding:0 0 75%;overflow:hidden;">
                        <div class="galleryInnerImageHolder"><a
                            href="../assets/image/歷史簡介1.jpg"
                            rel="lightbox[gallery777143170299731314]" class="w-fancybox"><img
                              src="../assets/image/歷史簡介1.jpg" class="galleryImage"
                              _width="800" _height="532"
                              style="position:absolute;border:0;width:112.78%;top:0%;left:-6.39%"></a></div>
                      </div>
                    </div>
                  </div>
                  <div id="777143170299731314-imageContainer1" style="float:left;width:49.95%;margin:0;"
                    class="fullwidth-mobile">
                    <div id="777143170299731314-insideImageContainer1" style="position:relative;margin:5px;">
                      <div class="galleryImageHolder"
                        style="position:relative; width:100%; padding:0 0 75%;overflow:hidden;">
                        <div class="galleryInnerImageHolder"><a
                            href="../assets/image/歷史簡介2.jpg"
                            rel="lightbox[gallery777143170299731314]" class="w-fancybox"><img
                              src="../assets/image/歷史簡介2.jpg" class="galleryImage"
                              _width="800" _height="532"
                              style="position:absolute;border:0;width:112.78%;top:0%;left:-6.39%"></a></div>
                      </div>
                    </div>
                  </div><span style="display: block; clear: both; height: 0px; overflow: hidden;"></span>
                </div>

                <div style="height: 20px; overflow: hidden;"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
