<div class="container">
  <div class="wsite-section-elements">
    <div class="paragraph" style="text-align:left;"><em><strong>
          <font size="6" style="color:rgb(141, 36, 36)">如何喚醒機器人?</font><br>
          <font color="#248d6c" size="5">ANS:</font>
        </strong></em><br><strong>
        <font color="#2a2a2a" size="5">&nbsp; &nbsp; &nbsp; &nbsp; 對著機器人說【HEY ZENBO】，直到螢幕兩端出現耳多的形狀即可執行您要的服務項目。</font>
      </strong>&nbsp;<br><strong>
        <font color="#8d2424" size="6"><br>如何執行服務項目?</font>
      </strong><br>
      <font><strong>
          <font size="5">
            <font color="#248d6c">ANS:</font><br>
            <font color="#248d6c">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</font>
            <font color="#2a2a2a">說【HEY ZENBO】→【服務】or【你有甚麼圖書館服務】<br>&nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp;or【圖書館服務】→當機器人接收到指示將在螢幕上呈現服務項目頁面。</font>
          </font>
        </strong>

      </font><br><strong>

      </strong><br><strong>

      </strong><br><strong>
      </strong>
    </div>
    <strong>
      <font size="6" color="#8d2424">ZENBO給您的服務內容:
        <br>1-1.定點諮詢-服務時間
        <font size="5" color="black">
          <br>了解圖書館服務的時間
        </font>
        <div>
          <video width="300" controls>
            <source src="../assets/zenbovideos/服務時間.mp4" type="video/mp4">
          </video>
          <br>1-2.定點諮詢-QA問與答
          <font size="5" color="black">
            <br>圖書館QA問答集，透過選取來回應常見問題
          </font>
          <div>
            <video width="300" controls>
              <source src="../assets/zenbovideos/QA問與答.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <br>2.導覽(百大圖書區-新書展示區-資料檢索區)
        <font size="5" color="black">
          <br>圖書館二樓三大區域的各項導覽與解說
        </font>
        <div>
          <video width="300" controls style="margin-right: 50px;">
            <source src="../assets/zenbovideos/導覽1.mp4" type="video/mp4">
          </video>
          <video width="300" controls style="margin-right: 50px;">
            <source src="../assets/zenbovideos/導覽2.mp4" type="video/mp4">
          </video>
          <video width="300" controls style="margin-right: 50px;">
            <source src="../assets/zenbovideos/導覽3.mp4" type="video/mp4">
          </video>
        </div>
        <br>3.館藏查詢
        <font size="5" color="black">
          <br>透過Zenbo來進行查詢圖書館的館藏書籍
        </font>
        <div>
          <video width="300" controls>
            <source src="../assets/zenbovideos/館藏查詢.mp4" type="video/mp4">
          </video>
        </div>
        <br>4.空間預約
        <font size="5" color="black">
          <br>透過Zenbo來進行預約圖書館的公共區域
        </font>
        <div>
          <video width="300" controls>
            <source src="../assets/zenbovideos/空間預約.mp4" type="video/mp4">
          </video>
        </div>
        <br>5.迎賓
        <font size="5" color="black">
          <br>播放曲目後，Zenbo會隨著音樂來律動與跳舞
        </font>
        <div>
          <video width="300" controls>
            <source src="../assets/zenbovideos/迎賓.mp4" type="video/mp4">
          </video>
        </div>
      </font>
    </strong>
    <div class="wsite-spacer" style="height:50px;"></div>
  </div>
</div>


