<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
<!-- <div class="features text_style">
  <h1 class="header-feature text-line"><img class="header-img" src="assets/icon/zenboicon.png" alt="Zenbo"><b>Features</b></h1>
  <p class="header-content text-line">Hey! I am Zenbo.<br>
    I am a library helper. No one knows the library better than me.<br>
    Any library problems can come to me~</p>
  <ul class="feature-list text-line">
    <li class="header-content list-size"><img class="list-img" src="assets/icon/zenboicon.png" alt="Zenbo">Cute and smart</li>
    <li class="header-content list-size"><img class="list-img" src="assets/icon/zenboicon.png" alt="Zenbo">Best helper</li>
    <li class="header-content list-size"><img class="list-img" src="assets/icon/zenboicon.png" alt="Zenbo">Chatting with me when you are bored</li>
    <li class="header-content list-size"><img class="list-img" src="assets/icon/zenboicon.png" alt="Zenbo">play music</li>
    <li class="header-content list-size"><img class="list-img" src="assets/icon/zenboicon.png" alt="Zenbo">Library events</li>
    <li class="header-content list-size"><img class="list-img" src="assets/icon/zenboicon.png" alt="Zenbo">Library tour</li>
    <li class="header-content list-size"><img class="list-img" src="assets/icon/zenboicon.png" alt="Zenbo">Greeting</li>
    <li class="header-content list-size"><img class="list-img" src="assets/icon/zenboicon.png" alt="Zenbo">Fixed consultation</li>
    <li class="header-content list-size"><img class="list-img" src="assets/icon/zenboicon.png" alt="Zenbo">Space reservation</li>
    <li class="header-content list-size"><img class="list-img" src="assets/icon/zenboicon.png" alt="Zenbo">Collection inquiry</li>
    <li class="header-content list-size"><img class="list-img" src="assets/icon/zenboicon.png" alt="Zenbo">And much much more!</li>
  </ul>
</div> -->
<!-- <div class="BG text_style " style="width: 100%">
  <div style="padding: 300px 200px">
    <h2><b>Zenbo Library Service</b></h2>
    <div style="padding: 50px 150px">
      <h2><b>Let's explore Library with Zenbo!</b></h2>
    </div>
  </div>
</div> -->
<div class="wsite-section-content">

  <div class="container">
    <div class="banner">
<div class="wsite-section-elements">
  <div class="" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.7s ease-in 0.8s, opacity 0.7s ease-in 0.8s; transition: transform 0.7s ease-in 0.8s, opacity 0.7s ease-in 0.8s; "><div id="290301357764427461" align="inherit" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><script src="/gdpr/gdprscript.js?buildTime=1568397647"></script>

<title>朝陽科技大學波錠紀念圖書館</title>





<font size="6">

<div style="text-align:center;">

<h1>
波錠紀念圖書館機器人
</h1>

<div style="text-align:center;">
<font size="5">
<div>現在時間: {{ todayYear }} 年 {{ todayMonth }} 月 {{ todayDate }} 日</div>

<div id="showbox">{{ showTime }}</div>



<font size="6">
<marquee class="spacing" behavior="ALTERNATE" align="MIDDLE" >朝陽科技大學波錠紀念圖書館</marquee><p>

<font size="5">
</font></p><div style="text-align:center;"><font size="5">


很多人都想玩機器人
<br>想跟機器人對話
<br>身邊卻沒有機器人怎麼辦?
<br><b><i>來朝陽科技大學波錠紀念圖書館吧!</i></b>
<br>一走進圖書館大門口<br>就會看到一隻機器人
<br>快點來跟我打招呼吧!
<br>
<b><i>重點是能讓你免費玩</i></b>
<br><b><i>還能為您介紹波錠圖書館功能呢!!!!!!</i></b>
<br>都說成這樣了，趕快來找我玩吧^_^
<br>

</font></div>








</font></font></div></div></font></div>



</div>
</div>
</div>
  </div>

</div>
